*{
    margin: 0;
    padding: 0;
}
.header{
    background-color: rgb(165, 25, 165);
    font-family: cursive;
    text-align: center;
    color: white;
    display: flex;
}
.imagenchoco{
    width: 4%;
    height: 4%;
    padding: 5px
}
.barra{
    margin-top: 10px;
}
.navbar {
    background-color: pink;
    color: black;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: cursive;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
    
ul li {
    margin-right: 20px;
}
    
ul li a {
    text-decoration: none;
    color: black;
}
    
.buttons {
    display: flex;
}
    
.login-button,
.register-button {
    padding: 8px 15px;
    margin-left: 10px;
    cursor: pointer;
}
.login-button {
    background-color: #ffffff;
    border-radius: 20px;
    color: rgb(0, 0, 0);
    font-family: cursive;
}
    
.register-button {
    background-color: #ffffff;
    border-radius: 20px;
    color: rgb(0, 0, 0);
    font-family: cursive;
}
.carrito{
    width: 5%;
    height: 5%;
}