<div class="container">
        <div class="header">
            <img class="imagenchoco" src="/assets/images/chocolate_love_heart_food_valentine_sweet_valentines_day_icon_233305.png" alt="">
            <h1 class="titulo">Tienda de detalles D&Y</h1>
        </div>
    <div class="barra">
        <nav class="navbar">
            <ul>
                <li><a [routerLink]="['']">Inicio</a></li>
                <li><a [routerLink]="['catalogo']">Catálogo</a></li>
                <li><a [routerLink]="['pedidos']">Pedidos</a></li>
                <li><a [routerLink]="['contactanos']">Contáctanos</a></li>
            </ul>
            <div class="buttons">
                <button class="login-button">Inicio de Sesión</button>
                <button class="register-button">Registro</button>
                <img class="carrito" src="/assets/images/carrito-de-compras (1).png" alt="">
            </div>
        </nav>
    </div>
</div>