 
<section>
    <div class="producto">
        <img src="/images/imagen 1.png" alt="Producto 1">
        <p>Descripción del producto 1.</p>
        <p>Precio: $19.99</p>
        <button>Comprar</button>
    </div>

    <div class="producto">
        <img src="/images/imagen 2.jpg" alt="Producto 2">
        <p>Descripción del producto 2.</p>
        <p>Precio: $29.99</p>
        <button>Comprar</button>
    </div>

    <div class="producto">
        <img src="/images/imagen 3.png" alt="Producto 1">
        <p>Descripción del producto 2.</p>
        <p>Precio: $29.99</p>
        <button>Comprar</button>
    </div>

    <div class="producto">
        <img src="/images/imagen 4.jpg" alt="Producto 2">
        <p>Descripción del producto 2.</p>
        <p>Precio: $29.99</p>
        <button>Comprar</button>
    </div>

    <div class="producto">
        <img src="/images/imagen 5.webp" alt="Producto 1">
        <p>Descripción del producto 2.</p>
        <p>Precio: $29.99</p>
        <button>Comprar</button>
    </div>

    <div class="producto">
        <img src="/images/imagen 6.jpeg" alt="Producto 2">
        <p>Descripción del producto 2.</p>
        <p>Precio: $29.99</p>
        <button>Comprar</button>
    </div>

</section> 