.container{
  width: 100%;
  display: flex;
}
h1{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(219, 144, 221);
  margin-left: 40px;
}
.btn-secondary{
  background-color: pink;
  border-radius: 20px;
  height: 40px;
}
.sobrenosotros{
  width: 50%;
}
