<div class="container"> 
  <div class="botton-group">
    <h1>Tienda de Detalles D&Y</h1> 
    <span class="botton">
      <button class="btn btn-secondary" type="button" aria-label="">¡Conoce mas!</button>
    </span>
  </div>
  <div class="container2">
  <div class="sobrenosotros">
    <p>¡Bienvenido a tienda de detalles D&Y, Sumérgete en un mundo de encanto y elegancia, donde cada detalle cuenta una historia única. Desde pequeños tesoros hasta expresiones delicadas, nuestra tienda está cuidadosamente curada para ofrecerte una selección exclusiva de regalos y adornos que capturan la esencia de la sofisticación. Descubre la magia de los detalles que marcan la diferencia y encuentra el regalo perfecto para cada ocasión.</p>
  </div> 
</div> 
</div>
